:root {
    /* Colores */
    --imperial-red: #E63946;
    --honeydew:#f1faee;
    --powder-blue: #a8dadc;
    --celadon-blue: #457b9d; 
    --prussian-blue: #1d3557; 
    --black: #282623; 
    --grey: #bababa; 
    --off-white: #faf8f7;
}

.plans-container--slider::-webkit-scrollbar, .main-tables-container::-webkit-scrollbar {
    display: none;
  }
  
.main-tables-container, .plans-container--slider{
-ms-overflow-style: none;
scrollbar-width: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

body {
    background: var(--powder-blue);
    height: 100vh;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 80px;
    padding-top: 25px;
    padding-left: 20px;
    background: rgb(168,218,220);
    background: linear-gradient(0deg, rgba(168,218,220,1) 0%, rgba(147,198,207,1) 18%, rgba(123,175,192,1) 38%, rgba(69,123,157,1) 100%);
}
header h1 {
    color: var(--off-white);
    font-family: 'Roboto';
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-shadow: 1px 1px 1px var(--warm-black);
}

header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

header p {
    color: var(--off-white);
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    font-style: italic;
    text-shadow: 1px 1px 1px var(--warm-black);
}

header img {
    display: none;
    width: 50px;
    height: 50px;
    align-self: right;
    background-color: var(--off-white);
    border-radius: 50%;
}

.header--button {
    margin-right: 20px;
}

.header--button span {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-image: url('../img/menu-24px.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    background: var(--powder-blue);
    margin-top: 30px;
    height: auto;
}

main .buttons {
    justify-content: space-around;
    margin-bottom: 30px;
    margin-left: 70px;
}

main .buttons button {
    margin-left: 10px;
    height: 30px;
    width: 100px;
}

main section {
    display: inline-block;
}

main section .lead--container {
    border: 1px solid var(--imperial-red);
    background-color: red;
    display: flex;
    width: 80%;
    height: 78px;
    margin: auto;
}

main section .lead--container-left {
    color:var(--powder-blue);
    padding-top: 20px;
    min-width: 50px;
    text-align: center;
    width: 100px;
    border: 1px solid var(--black);
    background-color: var(--celadon-blue);
}

main section .lead--container-right {
    margin-left: 7px;
}

.separator {
    background-color: var(--celadon-blue);
    height: 3px;
    width: 90%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 2px;
}